/**
 * Gloden ratio:
 * 960px
 * 38% | 62%
 *
 * Base color: rgb(32, 32, 32)
 */

/**
 * Other:
 */

	* {
		margin: 0;
		padding: 0;
	}

	::selection {
		background: rgb(200, 225, 243); /* 75% alpha of #268bd2 */
	}

/**
 * Body:
 */

	body {
		font-family: 'Open Sans', sans-serif;
		color: rgb(32, 32, 32);
		overflow-y: scroll;
	}

/**
 * Wrapper:
 */

	#wrapper {
		width: 100%;
		min-width: 60em;
		border-top: .25em solid rgb(32, 32, 32);
		padding-top: 2em;
	}

/**
 * Header:
 */

	header {
		margin-top: 30px; /* Because `header h1` doesn't take effect from other headings. */
		margin-left: 3%;
		margin-right: 2%;
		width: 33%; /* 38 (golden ratio) - 5 (margin) */
		float: left;
		text-align: center;
	}

	header h1 {
		display: inline;
	}

	#logo { /* Isn't the actual code! */
		width: 48px;
		height: 48px;
		margin-right: .75em;
		display: inline-block; /* Except this. */
	}

/**
 * Content:
 */

	#content {
		margin-left: 2%;
		margin-right: 3%;
		width: 57%; /* 62 (golden ratio) - 5 (margin) */
		float: right;
	}

	.meta {
		padding-bottom: 1em;
	}

/**
 * Footer:
 */

	footer {
		padding-top: 6em;
		clear: both;
		text-align: center;
	}

	footer nav ul li {
		display: inline;
	}

	nav, #search {
		display: inline-block;
	}

	nav {
		margin-right: 3em;
	}

	nav ul {
		padding-left: 0; /* Reset for normalize.css. */
	}

/**
 * Typography:
 */

	header h1 {
		font-size: 3em;
	}
	header h2 {
		font-size: 1em;
	}
	header span {
		font-size: .875em;
		padding-left: .5em;
	}
	#content h2 {
		font-size: 1.3em;
	}
	#content h3 {
		font-size: 1.1em;
	}
	#content h4 {
		font-size: 1em;
		font-weight: 600;
	}
	#content h1,
	#content h2,
	#content h3 {
		margin-top: 2em;
		margin-bottom: .625em;
	}

	p, blockquote, ul, ol {
		font-size: .9em;
	}

	.meta {
		font-size: .8em;
	}

	a {
		text-decoration: none;
		color: rgb(32, 32, 32);
	}

	#content a {
		background: rgb(245, 245, 245);
		padding: .125em .25em;
	}

	.pipe {
		padding: 0 .5em;
	}

	#content h2 a, h3 a { /* Reset. */
		background: white;
		padding: 0;
	}

	blockquote {
		margin: 3em 0 1.5em 2.5em;
		line-height: 1.4em;
	}

	.left_quote {
		width: 32px;
		height: 24px;
		margin-bottom: -3em;
	}

/**
 * Hovers:
 */

	#content a:hover {
		background: rgb(235, 235, 235);
	}
	#content h2 a:hover, h3 a:hover { /* Reset. */
		background: white;
		padding: 0;
	}

input, button {
	font-family: 'Open Sans', sans-serif; /* No idea why this is needed. Feels like a dirty-fix... */
	font-size: .8em;
	color: rgb(32, 32, 32);
	border: 1px solid rgb(128, 128, 128);
	padding: 2px 4px;
}
button {
	background: rgb(215, 215, 215);
}

#search input {
	width: 200px;
}

table {
	font-size: 0.875em;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

.error_message {
	color: red;
	margin: 0 0 10px 0;
}

.success_message {
	color: green;
	margin: 0 0 10px 0;
}

.tip {
	font-size: 0.8em;
}

input:not([type="checkbox"]) {
	width: 20em;
}

textarea {
	width: 40em;
	height: 20em;
}

#pagination {
	padding: 0; /* Reset. */
	margin-top: 3em;
	list-style: none;
}

#pagination a {
	display: block;
	float: left;
	font-size: 0.75em;
	border: solid 1px rgb(200, 200, 200);
	margin: 0 .25em;
	padding: .2em .5em;
}

#pagination .previous a, #pagination .next a {
	font-size: .95em;
	padding-top: 0;
	padding-bottom: 0
}

#pagination .active a {
	background: rgb(225, 225, 225);
}

/**
 * Social icons.
 */

#social_icons {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 1em;
	right: 3em;
	list-style: none;
}

#social_icons li {
	display: inline-block;
}

#social_icons a {
	display: block;
	background: url('../images/social_icons.png') no-repeat;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
}

#social_icons .twitter {
	background-position: 0;
}

#social_icons .facebook {
	background-position: -24px;
}

#social_icons .last_fm {
	background-position: -48px;
}

#social_icons .reddit {
	background-position: -72px;
}

#social_icons .stackoverflow {
	background-position: -96px;
}

#social_icons .github {
	background-position: -120px;
}

#social_icons .linkedin {
	background-position: -144px;
}

/**
 * Pre and code elements.
 */

pre, *:not(pre) > code {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: .625em;
	margin: 1.5em 0;
}

pre {
	width: 80%;
}

code {
	font-family: 'Meslo LG L DZ', 'Meslo LG M DZ', 'Meslo LG S DZ', 'Monaco', 'Lucida Console', monospace;
	font-size: 11px; /* Not EMs! #XXX */
}

/**
 * Arrow.
 */

#arrow {
	position: fixed;
	bottom: 2%;
	left: 1%;
	width: 24px;
	height: 24px;
	display: none;
}

#article_links {
	padding-top: 3em;
}

#article_links input {
	width: 30em;
}

#loop {
	background: none !important;
}

#loop span {
	width: 28px;
	height: 24px;
	display: inline-block;
}
